@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

@import "tailwindcss";

@theme {
  /* --- Font Family --- */
  --font-sans: "Inter", "sans-serif";

  /* --- Logo Font --- */
  --font-logo: "Henny Penny", "cursive";

  /* --- Warna Admin --- */
  --color-admin: #e5a2a0;
  --color-admin-hover: #b57b79;

  /* --- Warna User --- */
  --color-user: #86abcb;
  --color-user-hover: #668096;

  /* --- Warna Main --- */
  --color-main-dark: #6b3c2e;
  --color-main-light: #e6e0c4;
  --color-main-white: #f4f3f0;
}